@keyframes swipe {
    0% {
        transform: scale(1);
        
    }
    100% {
        transform: scale(1.02);
    }
}

.img {
   
    animation-name: swipe;
    animation-duration: 2s;
    animation-timing-function: ease;
    /* Include vendor prefixes for broader browser support */
    -webkit-animation-name: swipe;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease;
    -moz-animation-name: swipe;
    -moz-animation-duration:2s;
    -moz-animation-timing-function: ease;
    animation-fill-mode: forwards;
   
}

@keyframes swipe2 {
    0% {
        transform: translateX(-550px);
        
    }
    100% {
        transform: translateX(0px)
    }
}
.img2 {
    transform: translateX(0px);
    background: blue;
    
}
.block {
   
    animation-name: swipe2;
    animation-duration: 1s;
    animation-timing-function: ease;
    /* Include vendor prefixes for broader browser support */
    /* -webkit-animation-name: swipe;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease;
    -moz-animation-name: swipe;
    -moz-animation-duration:1s;
    -moz-animation-timing-function: ease; */
}
@keyframes block2 {
    0% {
        transform: translateX(0px)
      }
      100% {
        transform: translateX(550px)
      }
}
.block2{
    animation-name: block2;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}