body {
  overflow-x: hidden;
  font-family: 'GFS Didot', serif;
  font-family: "Lato", sans-serif;
}

body::-webkit-scrollbar {
  width: 12px; /* Set a width for the scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: #d4527d;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #923756; /* Specify the darker color when hovered */
}
body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
  color: #ba9f07;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 
